.theme-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 640px) {
  .theme-buttons {
    flex-direction: column;
  }
}

.search-page .theme-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 10px;
  width: 100%;
}

@media (max-width: 640px) {
  .search-page .theme-buttons {
    flex-direction: column;
    align-items: flex-end !important;
  }
}

