.digimon-card {
  width: 302px;
  height: 132px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: white;
  position: relative;
  cursor: pointer;

  @media(max-width: 1366px) {
    width: 85%;
    height: 110px;
    margin-bottom: 15px;
  }

  @media (max-width: 640px) {
    width: 160px;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
  }
}

.image-container {
  position: relative;
  width: 50%; 
  height: 100%;
}

.digimon-image {
  width: 100%;
  height: 100%; 
  display: block;
  border-radius: 10%;
}

.digimon-card:hover .digimon-image {
  filter: brightness(0.5); 
}

.digimon-card:hover .choose-overlay {
  display: flex; 
}

.choose-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .choose-overlay {
  opacity: 1;
  border-radius: 10%;
}

.digimon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 50%;
}

.digimon-name {
  font-size: 15px;
  font-weight:400;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  @media(max-width: 1366px) {
    color: #fff!important;
  }

  @media(max-width: 640px) {
    font-size: 12px;
    color: #fff!important;
  }
}

.digimon-level {
  font-size: 15px;
  font-weight:400;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  @media(max-width: 1366px) {
    color: #fff!important;
  }

  @media(max-width: 640px) {
    font-size: 12px;
    color: #fff !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  text-align: center;
}

.message-box-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.message-box-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-box-buttons button:first-child {
  background-color: #ccc; 
}

.message-box-buttons button:last-child {
  background-color: #000; 
  color: white;
}