@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

:root {
  --background-color: #e5f7e5;
  --text-color: #333;
}
