.digimon-card-wrapper {
  width: 100%;
}

.digimon-card {
  width: 302px;
  height: 132px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: white;
  position: relative;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .digimon-card {
    width: 85%;
    height: 110px;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .digimon-card {
    width: 160px;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
  }
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.digimon-image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10%;
}

.digimon-card:hover .digimon-image {
  filter: brightness(0.5);
}

.digimon-card:hover .choose-overlay {
  display: flex;
}

.choose-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .choose-overlay {
  opacity: 1;
  border-radius: 10%;
}

.digimon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 50%;
}

.digimon-name {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1366px) {
  .digimon-name {
    color: #fff !important;
  }
}

@media (max-width: 640px) {
  .digimon-name {
    font-size: 12px;
    color: #fff !important;
  }
}

.digimon-level {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1366px) {
  .digimon-level {
    color: #fff !important;
  }
}

@media (max-width: 640px) {
  .digimon-level {
    font-size: 12px;
    color: #fff !important;
  }
}

