.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  gap: 500px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header-container {
    margin: 0;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
  }
}

.header-container .group-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-container .group-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 640px) {
  .header-container .group-right {
    display: flex;
    position: absolute;
    gap: 8px;
    flex-direction: row;
    top: 85%;
  }
}

.group-right .icon-container {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.group-right .icon-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.header-container .icone {
  width: 64px;
  height: 117px;
  display: flex;
  position: relative;
  margin-bottom: 2px;
}

.header-container .text-container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.header-container .text-container h1 {
  font-family: 'Jackpot', cursive;
  font-weight: 400;
  font-size: 15px;
  color: #F46D1B;
  margin: 0;
  text-align: center;
}

.header-container .text-container h2 {
  font-family: 'pixel digivolve', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #34AC40;
  margin: 0;
}

