.header-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

